<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#af1a1b">
        <title>Trakt Playback Progress Manager</title>
        <meta name="title" content="Trakt Playback Progress Manager">
        <meta name="description" content="Manage playback progress items stored on Trakt.tv" />

        <% if (process.env.NODE_ENV === 'production') { %>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-20983843-12"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-20983843-12');
        </script>
        <% } %>
    </head>

    <body>
        <div id="app"></div>
    </body>
</html>
